body{
    background-color: #F6F6F6;
    scroll-behavior: smooth;
}
.navbar{
    min-height: 100px;
    height: auto;
    background-color: #A47B58;
}
.container{
    position: relative;
    padding: 0;
}
.container img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: brightness(80%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3); /* Add the desired background color for the overlay */
}
.order-btn{
    background-color: #FFCB74;
    border-radius: 4px;
    width: 180px;
    height: 50px;
}
.order-btn:hover{
    background-color: #F6F6F6;
    color: black;
}
.overlay-content {
  text-align: left;
}
.card{
    background: white;
    border: none;
}

.number-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
}
.number-input input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  border-radius: 25%;
  border: none;
  margin: 0 5px;
  padding: 0;
}
.number-input button {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  border: none;
  background-color: #FFCB74;
  font-size: 1rem;
  cursor: pointer;
}
.number-input button:focus {
  outline: none;
}
.number-input button:hover {
  color: #666;
}
.cake{
  height: 250px; object-fit: cover; padding: 10px;
  border-radius: 16px;
}
#atc{
    background-color: #FFCB74;
    border: none;
    color: black;
}
#atc:hover{
    color: #F6F6F6;
    background-color: #f3b241;
}

.input-fit-content {
  position: relative;
  width: 40px;
  text-align: center;
  border: none;
  background: #f3b241;
  border-radius: 6px;
  max-width: 100%;
}
.clicked{
  border: 1.5px solid #f3b241;
}
#radioButton{
  border: 2px solid #FFCB74;
}
.checkout{
  min-height: 90vh;
}
.this{
  margin: 0 60px;
}
.user{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}